
<div class="container">
    @for(todo of todos; track todo.name){
        <div class="row">
            <div class="name"> {{todo.name}} </div>
            <mat-checkbox class="example-margin" [disabled]="showOnlyDone" [checked]="todo.done" (click)="onClickCheckbox(todo)"></mat-checkbox>
        </div>
    }
</div>


