<div class="container">
    <h1>My ToDo List</h1>
    <app-add-todo (nameAdded)="onTodoAdded($event)"></app-add-todo>
    <mat-slide-toggle (click)="onToggleDone()">Show only done</mat-slide-toggle>
    <app-todo-list [todos]="(showOnlyDone ? doneTodos$ : todos$) | async" [showOnlyDone]="showOnlyDone" (todoDone)="onTodoDone($event)"></app-todo-list>
</div>
