<div class="container">
    <mat-form-field class="input">
        <input matInput type="text" placeholder="Write a todo" [(ngModel)]="name">
    </mat-form-field>
    @if(showWarning()){
        <p class="warning"> Add a valid todo name!</p>
    }
    <button mat-raised-button  (click)="onClick()">Add a todo</button>
</div>